html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20;
}

body {
  background-color: #566c66;
}



.list-of-nav {
  padding: 0;
}

.nav-item {
  font-size: 30px;
  display: inline-block;
  list-style-type: none;
  margin: 20px;
  bottom: 800px;
  position: relative;
} 

.main-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0px;
  padding: 0px;
}
.background-about-me {
width: 100%;
  height: 100%;

}
.nav-item-about {
    font-size: 30px;
  display: inline-block;
  list-style-type: none;
  margin: 20px;
  bottom: 750px;
  position: relative;
}
.fiverrcopy {
width: 100%;
  height: 100%;
}

.nav-item-service {
    font-size: 30px;
  display: inline-block;
  list-style-type: none;
  margin: 20px;
  bottom: 770px;
  position: relative;
  
}
.nav-item-contact {
font-size: 30px;
  bottom: 500px;
}
.nav-item-contacts {
    font-size: 30px;
    display: inline-block;
    list-style-type: none;
    margin: 20px;
    bottom: 338px;
    right: -264px;
    position: relative;
}




